* {
  box-sizing: border-box;
}

/* Text, Links, Buttons, Images */
html {
  font-size: 10px;
}

h1 {
  color: #000000;
  font-family: 'Josefin Sans', arial, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 140%;
  padding: 2rem 0;
}

h2 {
  color: #000000;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 160%;
}

h3 {
  color: #000000;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
}

h4 {
  color: #000000;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 140%;
}

p {
  color: #000000;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
}

ul {
  list-style-type: circle;
}

li {
    color: #000000;
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
}

a {
  color: #000000;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

header a:hover {
  color: #8D295B;
}

.button {
    background-color: #8D295B;
    border-color: #8D295B;
    border-radius: 1rem;
    border-style: solid;
    border-width: .5rem;
    color: white;
    display: inline-block;
    font-size: 2rem;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 400;
    margin: 3rem 0;
    padding: 1.6rem 2.4rem;
    text-align: center;
    text-decoration: none;
}

.button:hover {
  background-color: #FFFFFF;
  color: #8D295B;
}

img {
  max-width: 100%;
}

.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

/* Nav Bar */
header {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 1fr;
  padding: 2rem;
}

.logo {
grid-row: 1 / span 1;
}

.hk-logo {
  height: 5rem;
}

.nav {
  align-self: center;
  grid-row: 1 / span 1;
  text-align: center;
}

.navigation li {
  display: inline;
  padding-left: 2rem;
}


/* Footer */
footer {
  background-color: #000000;
  display: grid;
  grid-column: 1 / -1;
  grid-auto-rows: 1fr .5fr;
}

.copyright {
  color: #ffffff;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1.6rem;
  grid-row: 2 / span 1;
  text-align: center;
}

.social {
  grid-row: 1 / span 1;
  padding: 2.5rem 0;
  text-align: center;
}

.social li {
  display: inline;
  padding: 0 2rem;
}

/****** Homepage ******/

/* hero section */
 .hero {
   background: #000000;
   background-image: url(../images/hero-black.svg);
   background: url(../images/hero-black.svg), linear-gradient(#8D295B, #000000);
   background-position: top center;
   background-size: cover;
   grid-column: 1 / -1;
   padding: 8rem 2rem;
 }

 .hero h1 {
   color: #ffffff;
   font-size: 4rem;
 }

 .hero h2 {
   color: #ffffff;
   font-weight: 400;
   padding-bottom: 2rem;
 }

/* Bevy section */
.projects-home {
  background-color: #000000;
  grid-column: 1 / -1;
}

.project-right {
  background: #ffffff;
  margin: 8rem 3rem;
  padding: 4rem 1rem 2rem 1rem;
}

.text-right a {
 display: flex;
 justify-content: center;
}

.text-right {
  padding-top: 1rem;
  text-align: center;
}

/* Closing */
 .bottom {
   background: url(../images/hp-pattern.svg) center / cover;
   grid-column: 1 / -1;
   padding: 8rem 2rem;
   text-align: center;
 }

 .bottom h2 {
   font-weight: 400;
 }

 .bottom a {
     display: flex;
     justify-content: center;
 }


/***** About *****/
.about {
  grid-column: 1 / -1;
  padding: 2rem;
}

.about-hero img {
  display: block;
  margin: 0 auto;
  max-height: 20rem;
  width: auto;
}

.about .me {
  display: none;
}

.about-main {
  grid-column: 1 / -1;
  padding: 2rem 2rem 5rem 2rem;
}

.about-main p {
  padding-bottom: 3rem;
}

.about-buttons a {
    display: flex;
    justify-content: center;
}

/**** Contact ****/
.contact-hero {
  background: url(../images/contact-hero.svg) center / contain;
  grid-column: 1 / -1;
  padding: 8rem 2rem;
  text-align: center;
}

.contact-hero h1 {
  font-size: 5rem;
}

.contact-form {
  grid-column: 1 / -1;
  padding: 5rem 2rem;
  text-align: center;
}

.contact-form h4 {
  padding-bottom: 2rem;
}

input, textarea{
  border: .1rem solid #8D295B;
  border-radius: .3rem;
  color: #000000;
  display: block;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  padding: .8rem;
  margin: 0 auto 3rem auto;
  max-width: 48rem;
  width: 100%;
}

textarea {
  min-height: 15rem;
}


/***** Case Study-Bevy *****/

/* Hero */
.bevy-hero {
  grid-column: 1 / -1;
  padding: 8rem 2rem;
}

.hero-image img {
  display: block;
  margin: 0 auto;
  width: auto;
}

.intro {
  text-align: center;
}

.intro a {
    display: flex;
    justify-content: center;
}

.h-line {
  grid-column: 2 / 7;
  height: .2rem;
  background-color: #000000;
  margin: 2rem 0;
}

.role {
  padding-bottom: 3rem;
  text-align: center;
}

.deliverables {
  padding-bottom: 3rem;
  text-align: center;
}

.tools {
  text-align: center;
}

.bevy-hero h2 {
  padding-bottom: 1rem;
}

/* Problem  & Solution*/
.prob-sol {
  background-color: #000000;
  grid-column: 1 / -1;
  padding: 8rem 2rem;
}

.prob-sol h2 {
  color: #ffffff;
  padding-bottom: 1rem;
}

.prob-sol p {
  color: #ffffff;
}

.problem {
  padding-bottom: 5rem;
}


/* Competitive Analysis */
.comp-ana {
  grid-column: 1 / -1;
  padding: 8rem 2rem;
}

.black-bar {
  background-color: #000000;
  margin-bottom: 2rem;
}

.black-bar h2 {
  color: #ffffff;
  text-align: center;
}

.ca-text {
  padding: 1rem 0;
}

.ca-text h4 {
  padding: 2rem 0;
}

.ca-text ul {
  padding-left: 2rem;
}

.graph h3 {
  padding-bottom: 2rem;
}

.competition {
  display: none;
}


/* User Research */
.user-research {
  grid-column: 1 / -1;
  padding: 0 2rem 8rem 2rem;
}

.ur-text {
  padding: 1rem 0;
}

.stats {
  margin: 4rem 0;
}

.stats p {
  padding: 2rem 0 5rem 0;
  text-align: center;
}

.stats img {
  display: block;
  margin: 0 auto;
  width: auto;
}

/* User Personas */
.user-personas {
  grid-column: 1 / -1;
  padding: 0 2rem 8rem 2rem;
}

.user-personas h4 {
  padding: 1rem 0;
}

.user-personas li {
  margin-left: 2rem;
}

.megan {
  display: none;
}

.adam-mobile {
  padding-top: 4rem;
}

.adam {
  display: none;
}

/* User Stories */
.user-stories {
  grid-column: 1 / -1;
  padding: 0 2rem 8rem 2rem;
}

.black-bar-mini {
  background-color: #000000;
  margin-bottom: 2rem;
}

.black-bar-mini h2 {
  color: #ffffff;
  text-align: center;
}

.us-para {
  padding: 1rem 0;
}

.us-para a {
  display: flex;
  justify-content: center;
}

/* User Flows */
.user-flows {
  grid-column: 1 / -1;
  padding: 0 2rem 8rem 2rem;
}

.uf-para {
  padding: 1rem 0;
}

.uf-para a {
  display: flex;
  justify-content: center;
}

/* Wireframes */
.wireframes {
  background-color: #000000;
  grid-column: 1 / -1;
  padding: 8rem 2rem;
}

.white-bar {
  background-color: #ffffff;
}

.white-bar h2 {
  color: #000000;
  text-align: center;
}

.wireframes p {
  color: #ffffff;
  padding-top: 1rem;
}

.wireframes img {
  padding-top: 4rem;
  display: block;
  margin: 0 auto;
  width: auto;
}

/* Wireframe Prototype and User Testing */
.prototype {
  grid-column: 1 / -1;
  padding: 8rem 2rem;
}

.prototype h4 {
  padding: 2rem 0 1rem 0;
}

.prototype img {
  padding-top: 6rem;
  display: block;
  margin: 0 auto;
  width: auto;
}


/* Branding */
.branding {
  grid-column: 1 / -1;
  padding: 0 2rem 8rem 2rem;
}

.branding h3 {
  font-weight: 600;
  padding-bottom: 2rem;
}

.branding h4 {
  font-weight: 600;
  padding: 5rem 0 2rem 0;
  text-align: center;
}

.branding img {
  display: block;
  margin: 0 auto;
  width: auto;
}

.branding p {
  padding-top: 1rem;
}

.branding a {
  display: flex;
  justify-content: center;
}

.typography {
  padding-top: 3rem;
}

/* High Fidelity Mockups */
.hi-fi {
  grid-column: 1 / -1;
  padding: 0 2rem 8rem 2rem;
}

.hi-fi p {
  padding-top: 1rem;
}

.hi-fi img {
  padding: 4rem 0;
  display: block;
  margin: 0 auto;
  width: auto;
}

/* Preference Tests */
.preference {
  grid-column: 1 / -1;
  background-color: #000000;
  padding: 8rem 2rem;
}

.preference img {
  display: block;
  margin: 0 auto;
  width: auto;
}

.preference p {
  color: #ffffff;
  padding-top: 1rem;
}

.preference h4 {
    color: #ffffff;
    padding: 5rem 0 2rem 0;
}

/* High Fidelity Testing */
.hifi-testing {
  grid-column: 1 / -1;
  padding: 8rem 2rem;
  }

.hifi-testing p {
    padding: 1rem 0;
}

.hifi-testing img {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
    width: auto;
  }

  .hifi-testing h4 {
    font-weight: 600;
    padding-top: 5rem;
  }

/* Iterations */
.iterations {
  grid-column: 1 / -1;
  background-color: #000000;
  padding: 8rem 2rem;
  }

.iterations p {
  color: #ffffff;
  padding: 1rem 0 5rem 0;
  }

.iterations h3 {
  color: #ffffff;
  padding-bottom: 2rem;
}

.iterations img {
  display: block;
  margin: 0 auto;
  width: auto;
}

.final {
  padding-top: 5rem;
}

/* What I Learned */
.learned {
  grid-column: 1 / -1;
  padding: 8rem 2rem;
  }

.learned a {
  display: flex;
  justify-content: center;
}

.phone {
  display: none;
}


/**** Tablet Media Queries ****/

@media all and (min-width: 575px) {
  /* Text */
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  p {
    font-size: 2rem;
  }

  li {
    font-size: 2rem;
  }

  a {
    font-size: 2.2rem;
  }

  .button {
    font-size: 2.4rem;
  }

  /* Nav Bar */
  header {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 9fr 1fr;
    padding: 2rem 0;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  .hk-logo {
    height: auto;
  }

  .nav {
    grid-column: 3 / span 1;
    text-align: right;
  }

  .navigation li {
    padding-left: 3rem;
  }


/**** Homepage ****/
  .hero {
    padding: 8rem 5rem;
  }

  .hero h1 {
    font-size: 5rem;
  }

  .hero h2 {
    max-width: 85rem;
  }

  .project-right {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .text-right a {
    display: inline-block;
  }

  .bottom {
    padding: 8rem 5rem;
  }

  .bottom h2 {
    margin: 0 auto;
    max-width: 85rem;
  }

  .bottom a {
    display: inline-block;
  }

/**** About ****/

.about img {
  max-height: 40rem;
}

.about-buttons {
  text-align: center;
}

.about-buttons .button{
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

  /**** Contact ****/
  .contact-form .button {
    display: inline-block;
    width: auto;
  }

  /**** Case Study Bevy ****/
  /*hero*/
  .bevy-hero {
    padding: 8rem 4rem;
  }

  .intro a {
    display: inline-block;
  }

  .intro {
    margin: 0 auto;
    max-width: 85rem;
    padding: 0 4rem;
  }

  .deliverables {
    margin: 0 auto;
    max-width: 85rem;
  }

  /*problem solution*/
  .prob-sol {
    padding: 8rem 4rem;
  }

  .problem {
    margin: 0 auto;
    max-width: 85rem;
    padding-bottom: 7rem;
  }

  .solution {
    margin: 0 auto;
    max-width: 85rem;
  }

  /*competitive analysis*/
  .comp-ana {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 5fr 1fr;
    padding: 8rem 4rem;
  }

   .black-bar {
     grid-column: 1 / -1;
   }

    .ca-text {
      grid-column: 1 / 2;
    }

    .competition {
      display: block;
      grid-column: 2 / 3;
      text-align: center;
    }

    .competition h4 {
      padding-bottom: 2rem;
    }

    /*user research*/
    .user-research {
      padding: 0 4rem 8rem 4rem;
    }

    .ur-text {
      max-width: 85rem;
    }

    .stats{
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 3fr 3fr;
    }

    /*user personas*/
    .user-personas {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 2fr 2fr 2fr;
      padding: 0 4rem 8rem 4rem;
    }

    .megan-mobile {
      display: none;
    }

    .megan {
      display: block;
      grid-column: 1 / 2;
    }

    .box-m {
      grid-column: 2 / 4;
    }

    .adam-mobile {
      display: none;
    }

    .box-a {
      grid-column: 1 / 3;
      margin-top: 3rem;
    }

    .adam {
      display: block;
      grid-column: 3 / 4;
      margin-top: 3rem;
    }

    /*user stories*/
    .user-stories {
      background-image: url("../images/user-stories.png");
      background-repeat: repeat;
      background-position: center top;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 2fr 2fr 2fr;
      margin-bottom: 8rem;
    }

    .box-us {
      background-color: #ffffff;
      box-shadow: 0 0 1rem #000000;
      grid-column: 2 / 4;
      margin: 4rem 0;
      padding-top: 2rem;
    }

    .us-para {
      padding: 1rem 3rem 0 3rem;
    }

    .user-stories a {
      display: inline-block;
    }

    /*user flows*/
    .user-flows {
      background-image: url("../images/user-flow.png");
      background-repeat: repeat;
      background-position: center top;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 2fr 2fr 2fr;
      margin-bottom: 8rem;
    }

    .box-uf {
      background-color: #ffffff;
      box-shadow: 0 0 1rem #000000;
      grid-column: 1 / 3;
      margin: 4rem 0;
      padding-top: 2rem;
    }

    .uf-para {
      padding: 1rem 3rem 0 3rem;
    }

    .user-flows a {
      display: inline-block;
    }

    /*wireframes*/
    .wireframes {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 3fr 3fr;
      padding: 8rem 4rem;
    }

    .white-bar {
      grid-column: 1 / -1;
    }

    .wireframes p {
      grid-column: 1 / -1;
      max-width: 85rem;
    }

    .wireframes img {
      display: inline;
    }

    /*wireframe prototype and user testing*/
     .prototype {
       padding: 8rem 4rem 8rem 4rem;
     }

     .prototype p {
       max-width: 85rem;
     }

     /*branding*/
     .branding {
       padding: 0 4rem 8rem 4rem;
     }

     .branding a {
       display: inline-block;
     }

     .typography img {
       display: inline;
     }

     /*high fidelity mockups*/
      .hi-fi {
        padding: 0 4rem 8rem 4rem;
      }

      .hi-fi p {
        max-width: 85rem;
      }

      /*preference tests*/
      .preference {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 3fr 3fr;
        padding: 8rem 4rem 8rem 4rem;
      }

      .preference p {
        grid-column: 1 / -1;
        max-width: 85rem;
      }

      /*high fidelity prototype and user testing*/
      .hifi-testing {
        padding: 8rem 4rem 8rem 4rem;
      }

      .hifi-testing p {
        max-width: 85rem;
      }

      /*iterations*/
      .iterations {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 3fr 3fr;
        padding: 8rem 4rem 8rem 4rem;
      }

      .iterations p {
        grid-column: 1 / -1;
        max-width: 85rem;
      }

      .final {
        padding: 0;
      }

      /*what I learned*/
      .learned {
        padding: 8rem 4rem 8rem 4rem;
      }

      .learned p {
        max-width: 85rem;
      }

      .learned a {
        display: inline-block;
        margin-right: 4rem;
      }
}

/**** Desktop Media Queries ****/

@media all and (min-width: 991px) {

  /*footer*/
  footer {
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr 7fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
  }

  .copyright {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .social {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
  }

  /*Homepage*/
  /*hero*/
  .hero {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 8fr 2fr;
    padding: 12rem 0;
  }

  .hero h1 {
    grid-column: 2 / span 1;
  }

  .hero h2 {
    grid-column: 2 / span 1;
  }

  .projects-home {
    background-size: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 10fr 1fr;
  }

  .project-right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 6fr 4fr;
    grid-gap: 2rem;
    margin: 10rem 0 20rem 0;
  }

  .text-right {
    align-self: center;
  }

  .project-right img {
    align-self: center;
  }


    /*bottom*/
    .bottom {
      padding: 12rem 20rem;
    }

/*----About----*/

.about-main a {
  display: inline-block;
}

.about {
  display: grid;
  grid-gap: 2rem;
  grid-column: 1fr 4fr 6fr 1fr;
  }

  .about-hero {
    background: url(../images/pattern-about.png) no-repeat top center;
    background-size: contain;
    grid-column: 2 / 3;
  }

  .about-hero img {
    max-height: none;
    padding-top: 3rem;
  }

  .about .me-circle {
    display: none;
  }

  .about .me {
    display: block;
  }

  .about-main {
    grid-column: 3 / 4;
    padding-top: 10rem;
  }

.about-buttons {
  grid-column: 2 / 4;
}

/*----Bevy Case Study----*/
    /* Hero */
  .bevy-hero {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 2fr 4fr 2fr 1fr 1fr;
    padding: 12rem 0;
  }

  .hero-image {
    grid-column: 1 / -1;
  }

  .intro {
    grid-column: 3 / 6;
  }

  .h-line {
    grid-column: 2 / 7;
  }

  .role {
    grid-column: 2 /4;
  }

  .deliverables {
    grid-column: 4 / 5;
  }

  .tools {
    grid-column: 5 / 7;
  }

  /* Problem  & Solution*/
  .prob-sol {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 4.5fr 1fr 4.5fr 1fr;
    padding: 12rem 0;
  }

  .problem {
    grid-column: 2 / 3;
  }

  .solution {
    grid-column: 4 / 5;
  }

  /* Competitive Analysis */
  .comp-ana {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 6fr 3fr 1fr;
    padding: 12rem 0;
  }

  .black-bar {
    grid-column: 2 / 4;
  }

  .black-bar h2 {
    padding-left: 1rem;
    text-align: left;
  }

  .ca-text {
    grid-column: 3 / 4;
  }

  .competition {
    display: grid;
    grid-column: 4 / 5;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  .google-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .google {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .competition img {
    margin: auto;
  }

  .competition h4 {
    margin: auto 0;
  }

  /* User Research */
.user-research {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 6fr 2fr 2fr;
  padding: 0 0 12rem 0;
}

.user-research .black-bar {
  grid-column: 2 / 4;
}
.ur-text {
  grid-column: 3 / 4;
}

.stats {
  grid-column: 3 / 5;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 2fr 2fr 3fr;
}

.stat-a {
  grid-column: 1 / span 1;
}

.stat-b {
  grid-column: 2 / span 1;
}

.stat-c {
  grid-column: 3 / span 1;
}

.stat-d {
  grid-column: 4 / span 1;
}

.graph {
  grid-column: 3 / 6;
}

/*User Personas*/
.user-personas {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 4fr 2fr 1fr 3fr 1fr;
  padding: 0 0 12rem 0;
}

.user-personas .black-bar {
  grid-column: 2 / 5;

}

.megan {
  display: none;
}

.megan-mobile {
  display: block;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.box-m {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}

.box-a {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

}

.adam {
  display: none;
}

.adam-mobile {
  display: block;
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  padding-top: 0;
}

/* User Stories */
.user-stories {
  display: grid;
  grid-template-columns: 5fr 6fr 1fr;
  margin: 2rem 0;
  padding: 0;
}

.box-us {
  grid-column: 2 / 3;
  margin: 12rem 0 12rem 0;
}

.black-bar-mini {
  margin-top: 3rem;
  width: 50%;
}

/* User Flows */
.user-flows {
  display: grid;
  grid-template-columns: 1fr 6fr 5fr;
  margin: 2rem 0;
  padding: 0;
}

.box-uf {
  grid-column: 2 / 3;
  margin: 12rem 0 12rem 0;
}

/* Wireframes */
.wireframes {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 4fr 2fr 3fr 1fr;
  padding: 12rem 0;
}

.white-bar {
  grid-column: 2 / 5;
}

.white-bar h2 {
  padding-left: 1rem;
  text-align: left;
}

.wireframes p {
  grid-column: 3 / 5;
}

.wf-1 {
  grid-column: 2 / 4;
}

.wf-2 {
  grid-column: 4 / 6;
}

/* Prototype */
.prototype {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 6fr 4fr;
  padding: 12rem 0;
}

.prototype .black-bar {
  grid-column: 2 / 4;
}

.prototype p {
  grid-column: 3 / 4;
  padding-top: 1rem;
}

.wf-examples {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 4fr 4fr 4fr;
  grid-column: 1 / -1;
}

.sign-up {
  grid-column: 1 / 2;
  padding: 3rem;
}

.add-photo {
  grid-column: 2 / 3;
  padding: 3rem;
}

.move {
  grid-column: 3 / 4;
  padding: 3rem;
}

/* Branding */
.branding {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr 1fr 1fr 1fr 1fr;
  padding: 12rem 0;
}

.branding .black-bar {
  grid-column: 2 / 6;
}

.logos {
  grid-column: 3 / 6;
}

.branding h2 {
  padding-bottom: 1rem;
}

.branding h3 {
  padding: 4rem 0;
}

.branding h4 {
  padding: 4rem 0;
}

.sketches {
  grid-column: 2 / 5;
}

.it {
  grid-column: 5 / 6;
}

.mark {
  grid-column: 6 / 9;
}

.branding .h-line {
  grid-column: 2 / 9;
  margin: 5rem 0;
}

.style-guide {
  grid-column: 3 / 6;
}

.color {
  grid-column: 4 / 7;
}

.typography {
  grid-column: 4 / -1;
}

/* High Fidelity Mockups */
.hi-fi {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 3fr 2fr 1fr 2fr 1fr;
  padding: 12rem 0;
}

.hi-fi .black-bar {
  grid-column: 2 / 6;
}

.hi-fi p {
  grid-column: 3 / 6;
}

.hf-home {
  grid-column: 4 / 7;
}

.hf-dash {
  grid-column: 2 / 5;
}

.hf-set {
  grid-column: 5 / 8;
}

/* Preference Tests */
.preference {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr 3fr 1fr;
  padding: 12rem 0;
}

.preference .white-bar {
  grid-column: 2 / 6;
}

.preference p {
  grid-column: 3 / 6;
}

.opA {
  grid-column: 3 / 4;
}

.opB {
  grid-column: 5 / 7;
}

/* High Fidelity Testing */
.hifi-testing {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 2fr 4fr 4fr;
  padding: 12rem 0;
  }

.hifi-testing .black-bar {
  grid-column: 2 / 5;
  }

.hifi-para {
  grid-column: 3 / 5;
  }

.testing {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 2rem;
  grid-template-columns: 4fr 4fr 4fr;
  padding: 0 3rem;
}

.test1-im1 {
  grid-column: 1 / 2;
}

.test1-im2 {
  grid-column: 2 / 3;
}

.test1-im3 {
  grid-column: 3 / 4;
}

.test-1 {
    grid-column: 1 / span 2;
}

.test2-im1 {
  grid-column: 1 / 2;
}

.test2-im2 {
  grid-column: 2 / 3;
}

.test2-im3 {
  grid-column: 3 /4;
}

.test-2 {
    grid-column: 1 / span 2;
  }

  /* Iterations */
  .iterations {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 3fr 1fr;
    padding: 12rem 0;
    }

  .iterations .white-bar {
    grid-column: 2 / 6;
    }

  .iterations p {
    grid-column: 3 / 6;
    }

  .iterations h3 {
    color: #ffffff;
  }

  .original {
      grid-column: 3 / 4;
    }

  .final {
    grid-column: 5 / 7;
   }

   /* What I Learned */
   .learned {
     display: grid;
     grid-gap: 2rem;
     grid-template-columns: 1fr 1fr 6fr 2fr 2fr;
     padding: 12rem 0;
     }

   .learned .black-bar {
     grid-column: 2 / 4;
     }

   .learned-text {
     grid-column: 3 / 4;
     padding-top: 1rem;
   }

   .phone {
     display: block;
     grid-column: 4 / 5;
   }














}
